
h1{
  color: #fff;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 57px;
}
address{
  direction: ltr;
  word-spacing: 19px;
  opacity:.6;
}
header{
  background-color:#7FFFD4;
  margin:20px;
}
h4{
    text-decoration: underline;
  text-align:left;
  font-size:20px;
}
section{
 margin:25px;
}
li{
  list-style-type:disc;
}
footer{
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 19px;
  text-align:center;
}
img{
  border-radius:7px;
}
